<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rocket League Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="https://jok.im/static/icons/rl_cg_logo_grey.png">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link rel="stylesheet" href="/rl/static/rl.css">
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
    <link rel="stylesheet" href="https://matcha.mizu.sh/@syntax-highlighting.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@1.1"></script>
</head>

<body class="layout-simple">
    <header>
        <h1>
            <a class="success" href="/rl" style="text-decoration: none;">
                <img src="https://jok.im/static/icons/rl_cg_logo_grey.png" height="30" width="30">
            </a>
            <a class="accent" href="/rl" style="color:rgb(215, 215, 215);text-decoration: none;">ROCKET LEAGUE</a>
        </h1>
        <a href="/rl/reload"><button class="bg-muted">Reload stats</button></a>
        <nav>
            <menu>
                <li><a class="here" href="/rl">Dashboard</a></li>
                <li><a href="/rl/records">Records</a></li>
                <li><a href="/rl/games">Games</a></li>
            </menu>
        </nav>
    </header>
    <aside>
        <nav>
            <ul>
                <li><b><a href="#session">LATEST SESSION</a></b>
                    <ul>
                        <li><small><a href="#sessionoverview">Overview</a></small></li>
                        <li><small><a href="#sessionsessionranking">Session Ranking</a></small></li>
                        <li><small><a href="#sessiongraph"><var>Graph</var> Performance</a></small></li>
                    </ul>
                </li>
                {% if random_facts %}
                <li><b><a href="#randomfacts">RANDOM FACTS</a></b></li>
                {% endif %}
                <li><b><a href="#winrates">WINRATES</a></b></li>
                <li><b><a href="#seasons">SEASONS</a></b></li>
                <li><b><a href="#funfacts">FUN FACTS</a></b></li>
                <li><b><a href="#datefacts">DATE FACTS</a></b></li>
                <li><small><a href="#g1"><var>Graph</var> Days</a></small></li>
                <li><small><a href="#g2"><var>Graph</var> Weekdays</a></small></li>
                <li><small><a href="#g3"><var>Graph</var> Months</a></small></li>
                <li><small><a href="#g4"><var>Graph</var> Years</a></small></li>
                <li><small><a href="#g5"><var>Graph</var> Points Distribution</a></small></li>
            </ul>
        </nav>
    </aside>
    <main>
        <section class="flex">
            {% for player in players %}
            <article>
                <header>
                    <h1>
                        <img alt={{ player.rank }} class="mr-.125 border-box"
                            src="https://jok.im/static/rl/ranks/{{ player.rank }}.png">
                        <a href="/rl/profile/{{ loop.index0 }}" style="color:{{ player.color }};">{{ player.name }}</a>
                    </h1>
                </header>
                <p class="bg-subtle pbox flex centered cols" style="font-size: x-small;">
                    <span>Stat</span>
                    <span>Session</span>
                    <span>20</span>
                    <span>Season</span>
                    <span>500</span>
                    <span>All</span>
                </p>
                {% for stat in player.stats %}
                {% if loop.index == 1 %}
                {% set rounding = 1 %}
                {% else %}
                {% set rounding = 2 %}
                {% endif %}
                <p class="bg-muted pbox flex centered cols modern" value="{{ player.top[loop.index0][1] }}"
                    style="font-size: small;justify-content: space-between;">
                    <span>{{ profile_stat_names[loop.index0] }}</span>
                    <span>{{ stat[0] | round(rounding) }}</span>
                    <span>{{ stat[1] | round(rounding) }}</span>
                    <span>{{ stat[2] | round(rounding) }}</span>
                    <span>{{ stat[3] | round(rounding) }}</span>
                    <span>{{ stat[4] | round(rounding) }}</span>
                    <!--<span class="top_color" value="{{ stat[1] }}">
                            Top {{ stat[1] }}%
                        </span>-->
                </p>
                {% endfor %}
                </p>
                <p>
                    <output class="bg-active">
                        <span class="bold">JUST OUT:</span>
                        {{ player.justout[0] }} → {{ player.justout[1] }}
                    </output>
                </p>
                <p><output class="bg-muted"><span class="bold">TO BEAT:</span> {{ player.tobeatnext }}</output> </p>
                <footer>
                    <p style="text-align: right;">
                        <output style="border-style: solid;" class="griefHighlighting" value="{{ player.griefing }}">
                            <span class="bold">{% if player.griefing > 0 %}↑{% else %}↓{% endif %}</span>
                            <span>{{ player.griefing | round(1) }}</span>
                        </output>
                    </p>
                </footer>
            </article>
            {% endfor %}
        </section>
        <section>
            <h1 id="session">LATEST SESSION</h1>
            <h3 id="sessionoverview">Overview</h3>
            <p>
                <output class="bg-variant"><span class="bold">Session ID:</span> {{ session_information[0] }}</output>
                <output class="bg-active"><span class="bold">Date:</span> {{ session_information[1] }}</output>
                <output class="bg-muted"><span class="bold">W/L:</span> {{ session_information[2] }} - {{
                    session_information[3] }}</output>
            </p>
            <table>
                <tr>
                    <th colspan="3" class="table-general">General</th>
                    <th colspan="6" class="knus">Knus</th>
                    <th colspan="6" class="puad">Puad</th>
                    <th colspan="6" class="sticker">Sticker</th>
                </tr>
                {% for row in last_games %}
                <tr>
                    {% for data in row %}
                    <td value="{{ data }}" col="{{ loop.index }}" min="{{ last_games_highlighting[loop.index][1] }}"
                        color="{{ last_games_highlighting[loop.index][0] }}"
                        max="{{ last_games_highlighting[loop.index][2] }}" class="highlight_td 
                        {% if loop.index==2 or loop.index==3 %} 
                            {% if row[1] > row[2] and loop.index == 2 %}
                                win 
                            {% elif row[2] > row[1] and loop.index == 3 %}
                                loss 
                            {% endif %}
                        {% endif %}{% if row[4] > row[10] and row[4] > row[16] and loop.index == 5 or row[4] < row[10] and row[10]>
                            row[16] and loop.index == 11 or row[16] > row[10] and row[4] < row[16] and loop.index==17 %}
                                mvp_highlighting_table_cell{% endif %}">
                        {% if loop.index not in [4,10,16] %}
                        {{ data }}
                        {% else %}
                        <img src="https://jok.im/static/rl/ranks/{{ data.lower() }}.png" alt="{{ data }}">
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <h3 id="sessionsessionranking">Session Ranking</h3>
            <table>
                <th>Rank</th>
                <th>ID</th>
                <th>Date</th>
                <th>W-L</th>
                <th>G-A</th>
                <th>Score</th>
                {% for row in session_rank %}
                {% if loop.index in [1,7] %}
                <tr style="opacity:0.1">
                    {% elif loop.index in [2,6] %}
                <tr style="opacity:0.25">
                    {% elif loop.index in [3,5] %}
                <tr style="opacity:0.5">{{ data }}
                    {% elif loop.index == 4 %}
                <tr class="bold" style="border-color:white">
                    {% endif %}
                    {% for data in row %}
                    <td>{{ data }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <h3 id="sessiongraph">Weighted average of score, last 20 games</h3>
            <canvas id="performanceGraph"></canvas>
        </section>
        {% if random_facts %}
        <section>
            <h1 id="randomfacts">RANDOM FACTS</h1>
            <ul class="randomfacts">{% for fact in random_facts %}
                <li>{{ fact[0] }}</li>{% endfor %}
            </ul>
        </section>
        {% endif %}
        <section>
            <h1 id="winrates">WINRATES</h1>
            <output class="bg-active m-.25">
                <span class="bold">TOTAL:</span>
                {{ winrates[0]|round(1) }}%
            </output>
            <output class="bg-variant m-.25">
                <span class="bold">SEASON:</span>
                {{ winrates[1]|round(1) }}%
            </output>
            <output class="bg-accent m-.25">
                <span class="bold">L100:</span>
                {{ winrates[2]|round(1) }}%
            </output>
            <output class="bg-severe m-.25">
                <span class="bold">L20:</span>
                {{ winrates[3]|round(1) }}%
            </output>
        </section>
        <section>
            <h1 id="seasons">SEASONS</h1>
            <h3 id="g6">Seasons Graph</h3>
            <canvas id="seasonsGraph"></canvas>
        </section>
        <section>
            <table>
                <tr>
                    <td>Days since first game</td>
                    <td>{{ days_since_first | int }}</td>
                </tr>
                <tr>
                    <td>Games</td>
                    <td>{{ total_games }}</td>
                </tr>
                <tr>
                    <td>Tilt</td>
                    <td>{{ tilt }}%</td>
                </tr>
                <tr>
                    <td>Average Session Length</td>
                    <td>{{ average_session_length | round(2) }}</td>
                </tr>
            </table>
        </section>
        <section>
            <h1 id="funfacts">"FUN" FACTS</h1>
            <output class="bg-attention">
                <span class="bold">No funny stats available at the moment.</span>
            </output>
        </section>
        <section>
            <h1 id="datefacts">DATE FACTS</h1>
            <h3 id="g1">Wins & Losses by day of the month</h3>
            <canvas id="daysGraph"></canvas>
            <h3 id="g2">Wins & Losses by weekday</h3>
            <canvas id="weekdaysGraph"></canvas>
            <h3 id="g3">Wins & Losses by month</h3>
            <canvas id="monthGraph"></canvas>
            <h3 id="g4">Wins & Losses by year</h3>
            <canvas id="yearGraph"></canvas>
            <h3 id="g5">Points per game distribution</h3>
            <canvas id="scoreDistribution"></canvas>
        </section>
    </main>

</body>
<script src="/rl/static/dynamicColor.js"></script>
<script>
    new Chart(document.getElementById('performanceGraph'), {{ performance_graph | safe }});
    new Chart(document.getElementById('daysGraph'), {{ days_graph | safe }});
    new Chart(document.getElementById('weekdaysGraph'), {{ weekdays_graph | safe }});
    new Chart(document.getElementById('monthGraph'), {{ month_graph | safe }});
    new Chart(document.getElementById('yearGraph'), {{ year_graph | safe }});
    new Chart(document.getElementById('scoreDistribution'), {{ score_distribution_graph | safe }});
    new Chart(document.getElementById('seasonsGraph'), {{ seasons_graph | safe }});
</script>

</html>