<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rocket League Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="https://jok.im/static/icons/rl_cg_logo_grey.png">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link rel="stylesheet" href="/rl/static/rl.css">
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
    <link rel="stylesheet" href="https://matcha.mizu.sh/@syntax-highlighting.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@1.1"></script>
</head>
<body class="layout-simple">
    <header>
        <h1>
            <a class="success" href="/rl" style="text-decoration: none;">
                <img src="https://jok.im/static/icons/rl_cg_logo_grey.png" height="30" width="30">
            </a>
            <a class="accent" href="/rl" style="color:rgb(215, 215, 215);text-decoration: none;">ROCKET LEAGUE</a>
        </h1>
        <a href="/rl/reload"><button class="bg-muted">Reload stats</button></a>
        <nav>
            <menu>
                <li><a class="here" href="/rl">Dashboard</a></li>
                <li><a href="/rl/records">Records</a></li>
                <li><a href="/rl/graphs">Graphs</a></li>
                <li><a href="/rl/games">Games</a></li>
            </menu>
        </nav>
    </header>
    <aside>
        <nav>
            <ul>
                <li>Pudding</li>
            </ul>
        </nav>
    </aside>
    <main>
        <section class="flex">
            {% for player in players %}
            <article>
                <header>
                    <h1>
                        <img alt={{ player.rank }} class="mr-.125 border-box"
                            src="https://jok.im/static/rl/ranks/{{ player.rank }}.png">
                        <a href="/rl/profile/{{ loop.index0 }}">{{ player.name }}</a>
                    </h1>
                </header>
                <!--
                {% for stat in player.stats %}
                <p class="bg-muted pbox modern" value="{{ stat[1] }}">
                    <img class="icon" alt="Score"
                        src="https://jok.im/static/rl/{{ players_stat_icons[loop.index0] }}.png">
                    {{ stat[0] | round(2) }}
                    <span class="top_color" value="{{ stat[1] }}">
                        Top {{ stat[1] }}%
                    </span>
                </p>
                {% endfor %}
-->
                <p>
                <p class="bg-subtle pbox flex centered cols" style="font-size: x-small;">
                    <span>Stat</span>
                    <span>Session</span>
                    <span>20</span>
                    <span>Season</span>
                    <span>500</span>
                    <span>All</span>
                </p>
                {% for stat in player.stats %}
                {% if loop.index == 1 %}
                {% set rounding = 1 %}
                {% else %}
                {% set rounding = 2 %}
                {% endif %}
                <p class="bg-muted pbox flex centered cols modern" value="{{ stat[1] }}"
                    style="font-size: small;justify-content: space-between;">
                    <span>Goals</span>
                    <span>{{ stat[0] | round(rounding) }}</span>
                    <span>{{ stat[0] | round(rounding) }}</span>
                    <span>{{ stat[0] | round(rounding) }}</span>
                    <span>{{ stat[0] | round(rounding) }}</span>
                    <span>{{ stat[0] | round(rounding) }}</span>
                    <!--<span class="top_color" value="{{ stat[1] }}">
                            Top {{ stat[1] }}%
                        </span>-->
                </p>
                {% endfor %}
                </p>
                <p>
                    <output class="bg-active">
                        <span class="bold">JUST OUT</span>
                        {{ just_out[4][2] }} → {{ just_out[5][2] }}
                    </output>
                </p>
                <p><output class="bg-muted"><span class="bold">TO BEAT</span> {{ to_beat_next[2][2] }}</output> </p>
                <footer>
                    <p><output class="bg-variant"><span class="bold">PERORMANCE</span> {{ performance_score[2]
                            }}</output></p>
                </footer>
            </article>
            {% endfor %}
        </section>
        <hr>
        <section>
            <h1>LATEST SESSION</h1>
            <h3>Overview</h3>
            <p>
                <output class="bg-variant"><span class="bold">Session ID:</span> {{ session_information[0] }}</output>
                <output class="bg-active"><span class="bold">Date:</span> {{ session_information[1] }}</output>
                <output class="bg-muted"><span class="bold">W/L:</span> {{ session_information[2] }} - {{
                    session_information[3] }}</output>
            </p>
            <table>
                <tr>
                    <th colspan="3" class="table-general">General</th>
                    <th colspan="6" class="knus">Knus</th>
                    <th colspan="6" class="puad">Puad</th>
                    <th colspan="6" class="sticker">Sticker</th>
                </tr>
                {% for row in last_games %}
                <tr>
                    {% for data in row %}
                    <td class="highlight_td" value="{{ data }}" col="{{ loop.index }}"
                        min="{{ last_games_highlighting[loop.index][1] }}"
                        color="{{ last_games_highlighting[loop.index][0] }}"
                        max="{{ last_games_highlighting[loop.index][2] }}" {% if loop.index==2 or loop.index==3 %} {% if
                        row[1]> row[2] and loop.index == 2 %}
                        style="background-color: rgba(30,133,30,0.4)"
                        class="result_highlighting_table_cell"
                        {% elif row[2] > row[1] and loop.index == 3 %}
                        style="background-color: rgba(133,30,30,0.4)"
                        class="result_highlighting_table_cell"
                        {% endif %}
                        {% endif %}
                        {% if row[4] > row[10] and row[4] > row[16] and loop.index == 5 or row[4] < row[10] and row[10]>
                            row[16] and loop.index == 11 or row[16] > row[10] and row[4] < row[16] and loop.index==17 %}
                                class="mvp_highlighting_table_cell" {% endif %}>
                                {% if loop.index not in [4,10,16] %}
                                {{ data }}
                                {% else %}
                                <img src="https://jok.im/static/rl/ranks/{{ data.lower() }}.png" alt="{{ data }}"
                                    width="20" height="20">
                                {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <h3>Session Ranking</h3>
            <table>
                <th>Rank</th>
                <th>ID</th>
                <th>Date</th>
                <th>W-L</th>
                <th>G-A</th>
                <th>Score</th>
                {% for row in session_rank %}
                {% if loop.index in [1,7] %}
                <tr style="opacity:0.1">
                    {% elif loop.index in [2,6] %}
                <tr style="opacity:0.25">
                    {% elif loop.index in [3,5] %}
                <tr style="opacity:0.5">{{ data }}
                    {% elif loop.index == 4 %}
                <tr class="bold" style="border-color:white">
                    {% endif %}
                    {% for data in row %}
                    <td>{{ data }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <h3>Performance by GameID</h3>
            <canvas id="performanceGraph"></canvas>
        </section>
        {% if random_facts %}
        <section>
            <h1>RANDOM FACTS</h1>
            <ul class="randomfacts">{% for fact in random_facts %}
                <li>{{ fact[0] }}</li>{% endfor %}
            </ul>
        </section>
        {% endif %}
        <section>
            <h1>WINRATES</h1>
            TOTAL: {{ winrates[0]|round(1) }}%
            L100
            {{ winrates[2]|round(1) }}%
            Season
            {{ winrates[1]|round(1) }}%
            L20
            {{ winrates[3]|round(1) }}%
            Session
            {{ winrates[4]|round(1) }}%
        </section>
        <section>
            <h1>TOTAL STATS</h1>
            <table>
                <caption>GRAND TOTAL</caption>
                <tr>
                    <th rowspan="2" class="table-general"></th>
                    <th colspan="2" class="knus">Knus</th>
                    <th colspan="2" class="puad">Puad</th>
                    <th colspan="2" class="sticker">Sticker</th>
                </tr>
                <tr>
                    <td>Σ</td>
                    <td>ø</td>
                    <td>Σ</td>
                    <td>ø</td>
                    <td>Σ</td>
                    <td>ø</td>
                </tr>
                <tr>
                    <td>Score</td>
                    {% for goal in grand_total["Score"] %}
                    <td>{{ goal|round(2) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Goals</td>
                    {% for goal in grand_total["Goals"] %}
                    <td>{{ goal|round(3) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Assists</td>
                    {% for goal in grand_total["Assists"] %}
                    <td>{{ goal|round(3) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Saves</td>
                    {% for goal in grand_total["Saves"] %}
                    <td>{{ goal|round(3) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Shots</td>
                    {% for goal in grand_total["Shots"] %}
                    <td>{{ goal|round(3) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>MVPs</td>
                    {% for goal in grand_total["MVPs"] %}
                    <td>{{ goal|round(2) }}{% if goal is float %}%{% endif %}</td>
                    {% endfor %}
                </tr>
            </table>
            <table>
                <caption>THIS SEASON</caption>
                <tr>
                    <th rowspan="2" class="table-general"></th>
                    <th colspan="2" class="knus">Knus</th>
                    <th colspan="2" class="puad">Puad</th>
                    <th colspan="2" class="sticker">Sticker</th>
                </tr>
                <tr>
                    <td>Σ</td>
                    <td>ø</td>
                    <td>Σ</td>
                    <td>ø</td>
                    <td>Σ</td>
                    <td>ø</td>
                </tr>
                <tr>
                    <td>Score</td>
                    {% for goal in season_data["Score"] %}
                    <td>{{ goal|round(2) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Goals</td>
                    {% for goal in season_data["Goals"] %}
                    <td>{{ goal|round(3) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Assists</td>
                    {% for goal in season_data["Assists"] %}
                    <td>{{ goal|round(3) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Saves</td>
                    {% for goal in season_data["Saves"] %}
                    <td>{{ goal|round(3) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Shots</td>
                    {% for goal in season_data["Shots"] %}
                    <td>{{ goal|round(3) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>MVPs</td>
                    {% for goal in season_data["MVPs"] %}
                    <td>{{ goal|round(2) }}{% if goal is float %}%{% endif %}</td>
                    {% endfor %}
                </tr>
            </table>
            <table>
                <caption>THIS SESSION</caption>
                <tr>
                    <th rowspan="2" class="table-general"></th>
                    <th colspan="2" class="knus">Knus</th>
                    <th colspan="2" class="puad">Puad</th>
                    <th colspan="2" class="sticker">Sticker</th>
                </tr>
                <tr>
                    <td>Σ</td>
                    <td>ø</td>
                    <td>Σ</td>
                    <td>ø</td>
                    <td>Σ</td>
                    <td>ø</td>
                </tr>
                <tr>
                    <td>Score</td>
                    {% for goal in session_data["Score"] %}
                    <td>{{ goal|round(2) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Goals</td>
                    {% for goal in session_data["Goals"] %}
                    <td>{{ goal|round(3) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Assists</td>
                    {% for goal in session_data["Assists"] %}
                    <td>{{ goal|round(3) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Saves</td>
                    {% for goal in session_data["Saves"] %}
                    <td>{{ goal|round(3) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Shots</td>
                    {% for goal in session_data["Shots"] %}
                    <td>{{ goal|round(3) }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>MVPs</td>
                    {% for goal in session_data["MVPs"] %}
                    <td>{{ goal|round(2) }}{% if goal is float %}%{% endif %}</td>
                    {% endfor %}
                </tr>
            </table>
        </section>
        <section>
            <h1>SEASONS</h1>
            <table>
                {% for season in seasons %}
                <tr>
                    {% for data in season %}
                    <td>{{ data }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </section>
        <section>
            <table>
                <tr>
                    <td>Days since first game</td>
                    <td>{{ days_since_first | int }}</td>
                </tr>
                <tr>
                    <td>Games</td>
                    <td>{{ total_games }}</td>
                </tr>
                <tr>
                    <td>Tilt</td>
                    <td>{{ tilt }}%</td>
                </tr>
                <tr>
                    <td>Average Session Length</td>
                    <td>{{ average_session_length | round(2) }}</td>
                </tr>
            </table>
        </section>
        <section>
            <h1>"FUN" FACTS</h1>
            <div class="fun-facts">
                <div class="fact-container">
                    <table>
                        <tr>
                            <th style="width: 300px">Fact</th>
                            <th>Occurrence</th>
                            <th>Winrate</th>
                            <th>Change</th>
                        </tr>
                        <tbody>
                            {% for fact in fun_facts[0] %}
                            <tr>
                                <td>{{ fact[0] }}</td>
                                <td>{{ (fact[1]*100) | round(1) }}%</td>
                                <td>{{ (fact[2]*100) | round(1) }}%</td>
                                <td>O</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="fact-container">
                    <table>
                        <tr>
                            <th style="width: 300px">Fact</th>
                            <th>Occurrence</th>
                            <th>Winrate</th>
                            <th>Change</th>
                        </tr>
                        <tbody>
                            {% for fact in fun_facts[1] %}
                            <tr>
                                <td>{{ fact[0] }}</td>
                                <td>{{ (fact[1]*100) | round(1) }}%</td>
                                <td>{{ (fact[2]*100) | round(1) }}%</td>
                                <td>O</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section>
            <h1>DATE FACTS</h1>
            <h3>Wins & Losses by day of the month</h3>
            <canvas id="daysGraph"></canvas>
            <h3>Wins & Losses by weekday</h3>
            <canvas id="weekdaysGraph"></canvas>
            <h3>Wins & Losses by month</h3>
            <canvas id="monthGraph"></canvas>
            <h3>Wins & Losses by year</h3>
            <canvas id="yearGraph"></canvas>
            <h3>Points per game distribution</h3>
            <canvas id="scoreDistribution"></canvas>
        </section>
    </main>

</body>
<script src="/rl/static/dynamicColor.js"></script>
<script type="text/javascript">
    new Chart(document.getElementById('performanceGraph'), {{ performance_graph | safe }});
    new Chart(document.getElementById('daysGraph'), {{ days_graph | safe }});
    new Chart(document.getElementById('weekdaysGraph'), {{ weekdays_graph | safe }});
    new Chart(document.getElementById('monthGraph'), {{ month_graph | safe }});
    new Chart(document.getElementById('yearGraph'), {{ year_graph | safe }});
    new Chart(document.getElementById('scoreDistribution'), {{ score_distribution | safe }});
</script>

</html>