<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>RL - {{ name }}</title>
    <link rel="icon" href="https://jok.im/static/icons/rl_cg_logo_grey.png">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/rl/static/profile.css">
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
    <link rel="stylesheet" href="https://matcha.mizu.sh/@syntax-highlighting.css">
</head>

<body class="layout-simple">
    <header>
        <h1>
            <a class="success" href="/rl" style="text-decoration: none;">
                <img src="https://jok.im/static/icons/rl_cg_logo_grey.png" height="30" width="30">
            </a>
            <a class="accent" href="/rl" style="color:rgb(215, 215, 215);text-decoration: none;">ROCKET LEAGUE</a>
        </h1>
        <nav>
            <menu>
                <li><a class="here" href="/rl">Dashboard</a></li>
                <li><a href="/rl/records">Records</a></li>
                <li><a href="/rl/games">Games</a></li>
            </menu>
        </nav>
    </header>
    <aside>
        <nav>
            <ul>
            </ul>
        </nav>
    </aside>
    <main>
        <h1>{{ name }}</h1>
        {% for streak in streaks %}
        <!--<h3>{{ streak }}</h3>-->
        <table>
            <caption>{{ streak }}</caption>
            <th>#</th>
            <th>Value</th>
            <th>Start</th>
            <th>End</th>
            {% for entry in streaks[streak] %}
            <tr>
                <td {% if loop.index in [1,2,3] %} style="background-color: {{ rank_highlighting[loop.index0] }}" {%
                    endif %}>
                    {{ loop.index }}</td>
                {% for data in entry %}
                <td>{{ data }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </main>
</body>

</html>