<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
</head>
<body>
<canvas id="performance"></canvas>
<canvas id="total_performance"></canvas>
<canvas id="grief_value"></canvas>
<canvas id="winrate_last_20"></canvas>
<canvas id="winrate"></canvas>
<canvas id="solo_goals"></canvas>
<canvas id="performance_share"></canvas>
<canvas id="score_performance_counter"></canvas>
<canvas id="mvp_lvp_share"></canvas>
<canvas id="cumulative_stat"></canvas>
</body>

<script>
    const total_performance = document.getElementById('total_performance').getContext('2d');
    const grief_value = document.getElementById('grief_value').getContext('2d');
    const winrate_last_20 = document.getElementById('winrate_last_20').getContext('2d');
    const winrate = document.getElementById('winrate').getContext('2d');
    const solo_goals = document.getElementById('solo_goals').getContext('2d');
    const performance_share = document.getElementById('performance_share').getContext('2d');
    const score_performance_pointer = document.getElementById('score_performance_counter').getContext('2d');
    const mvp_lvp_share = document.getElementById('mvp_lvp_share').getContext('2d');
    const cumulative_stat = document.getElementById('cumulative_stat').getContext('2d');

    const myChart = new Chart(document.getElementById('performance').getContext('2d'), {
        type: 'line',
        data: {
            labels: {{ label }},
            datasets: [{
                label: 'Knus',
                data: {{ k }},
                backgroundColor: 'rgba(47,147,26,0.2)',
                borderColor: 'rgba(47,147,26,0.8)',
                borderWidth: 3
            }, {
                label: 'Puad',
                data: {{ p }},
                backgroundColor: 'rgba(147,26,26,0.2)',
                borderColor: 'rgba(147,26,26,0.8)',
                borderWidth: 3
            }, {
                label: 'Sticker',
                data: {{ s }},
                backgroundColor: 'rgba(26,115,147,0.2)',
                borderColor: 'rgba(26,115,147,0.8)',
                borderWidth: 3
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
</html>