<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clown Gameplay</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <style>
        html {
            font-size: 1em !important;
            color: #000 !important;
            font-family: 'Lato', sans-serif;
        }

        table {
            border-collapse: collapse;
            font-style: normal;
        }

        td, th {
            border: 1px solid #999;
            padding: 0.5rem;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>CLOWN GAMEPLAY ROCKET LEAGUE STATISTICS</h1>
<div>Days since inception: {{ days_since_inception }}, Total Games: {{ total_games }}, davon
    Wins: {{ total_wins }}</div>
<table>
    <caption>Last 10 Games</caption>
    <thead>
    <tr>
        <th colspan="4" vertical-align="middle">General</th>
        <th colspan="7">Knus</th>
        <th colspan="7">Puad</th>
        <th colspan="7">Sticker</th>
    </tr>
    <tr>
        <td>ID</td>
        <td>Date</td>
        <td>Goals</td>
        <td>Against</td>
        <td>Rank</td>
        <td>Score</td>
        <td>Goals</td>
        <td>Assists</td>
        <td>Saves</td>
        <td>Shots</td>
        <td>Rank</td>
        <td>Score</td>
        <td>Goals</td>
        <td>Assists</td>
        <td>Saves</td>
        <td>Shots</td>
        <td>Rank</td>
        <td>Score</td>
        <td>Goals</td>
        <td>Assists</td>
        <td>Saves</td>
        <td>Shots</td>
    </tr>
    </thead>
    {% for a in games %}
        <tr>
            {% for data in a %}
                <td>{{ data }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<h3>WEEKDAYS</h3>
<table>
    <tr>
        <td>Weekday</td>
        <td>Winrate</td>
        <td>Amount</td>
        <td>W</td>
        <td>L</td>
    </tr>
    {% for a in weekdays %}
        <tr>
            {% for data in a %}
                <th>{{ data }}</th>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>