<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clown Gameplay</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            font-size: 1em !important;
            color: #A7A1AE;
            background-color: #1F2739;
            font-family: 'Lato', sans-serif;
            line-height: 1.42em;
        }

        h1 {
            font-size: 3em;
            font-weight: 300;
            line-height: 1em;
            text-align: center;
            color: #599cbb;
        }

        .cg {
            font-size: 1.1em;
            font-weight: 300;
            line-height: 1em;
            text-align: center;
            color: #1d7aa4;
        }

        table {
            border-collapse: collapse;
            font-style: normal;
        }

        th {
            color: #599cbb
        }

        td, th {
            border: 1px solid #999;
            padding: 0.5rem;
            text-align: center;
        }

        sub-headline {
            font-size: 1em;
            font-weight: 300;
            line-height: 1em;
            text-align: left;
            color: #1d7aa4;
        }

        .infobox {
            margin: 5px;
        }

        .total-season-session {
            display: flex;
        }
    </style>
</head>
<body>
<h1>
    <span class="cg">CLOWN GAMEPLAY</span> ROCKET LEAGUE STATISTICS
</h1>
<div>Days since inception: {{ days_since_inception }}, Total Games: {{ total_games }}, davon
    Wins: {{ total_wins }}</div>
<div class="last10">
    <table class="container">
        <caption>Last 10 Games</caption>
        <thead>
        <tr>
            <th colspan="4" vertical-align="middle">General</th>
            <th colspan="6">Knus</th>
            <th colspan="6">Puad</th>
            <th colspan="6">Sticker</th>
        </tr>
        <tr>
            <td>ID</td>
            <td>Date</td>
            <td>Goals</td>
            <td>Against</td>
            <td>Rank</td>
            <td>Score</td>
            <td>Goals</td>
            <td>Assists</td>
            <td>Saves</td>
            <td>Shots</td>
            <td>Rank</td>
            <td>Score</td>
            <td>Goals</td>
            <td>Assists</td>
            <td>Saves</td>
            <td>Shots</td>
            <td>Rank</td>
            <td>Score</td>
            <td>Goals</td>
            <td>Assists</td>
            <td>Saves</td>
            <td>Shots</td>
        </tr>
        </thead>
        {% for a in games %}
            <tr>
                {% for data in a %}
                    <td>{{ data }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>

<div class="total-season-session">
    <div class="infobox">
        <table>
            <caption>GRAND TOTAL</caption>
            <tr>
                <th rowspan="2"></th>
                <th colspan="2">Knus</th>
                <th colspan="2">Puad</th>
                <th colspan="2">Sticker</th>
            </tr>
            <tr>
                <td>Total</td>
                <td>Average</td>
                <td>Total</td>
                <td>Average</td>
                <td>Total</td>
                <td>Average</td>
            </tr>
            <tr>
                <td>Score</td>
                {% for goal in grand_total["Score"] %}
                    <td>{{ goal|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Goals</td>
                {% for goal in grand_total["Goals"] %}
                    <td>{{ goal|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Assists</td>
                {% for goal in grand_total["Assists"] %}
                    <td>{{ goal|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Saves</td>
                {% for goal in grand_total["Saves"] %}
                    <td>{{ goal|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Shots</td>
                {% for goal in grand_total["Shots"] %}
                    <td>{{ goal|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>MVPs</td>
                {% for goal in grand_total["MVPs"] %}
                    <td>{{ goal|round(1) }}{% if goal is float %}%{% endif %}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div class="infobox">
        <table>
            <caption>THIS SEASON</caption>
            <tr>
                <th rowspan="2"></th>
                <th colspan="2">Knus</th>
                <th colspan="2">Puad</th>
                <th colspan="2">Sticker</th>
            </tr>
            <tr>
                <td>Total</td>
                <td>Average</td>
                <td>Total</td>
                <td>Average</td>
                <td>Total</td>
                <td>Average</td>
            </tr>
            <tr>
                <td>Score</td>
                {% for goal in season_data["Score"] %}
                    <td>{{ goal|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Goals</td>
                {% for goal in season_data["Goals"] %}
                    <td>{{ goal|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Assists</td>
                {% for goal in season_data["Assists"] %}
                    <td>{{ goal|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Saves</td>
                {% for goal in season_data["Saves"] %}
                    <td>{{ goal|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Shots</td>
                {% for goal in season_data["Shots"] %}
                    <td>{{ goal|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>MVPs</td>
                {% for goal in season_data["MVPs"] %}
                    <td>{{ goal|round(1) }}{% if goal is float %}%{% endif %}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <div class="infobox">
        <table>
            <caption>THIS SESSION</caption>
            <tr>
                <th rowspan="2"></th>
                <th colspan="2">Knus</th>
                <th colspan="2">Puad</th>
                <th colspan="2">Sticker</th>
            </tr>
            <tr>
                <td>Total</td>
                <td>Average</td>
                <td>Total</td>
                <td>Average</td>
                <td>Total</td>
                <td>Average</td>
            </tr>
            <tr>
                <td>Score</td>
                {% for goal in session_data["Score"] %}
                    <td>{{ goal|round(2) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Goals</td>
                {% for goal in session_data["Goals"] %}
                    <td>{{ goal|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Assists</td>
                {% for goal in session_data["Assists"] %}
                    <td>{{ goal|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Saves</td>
                {% for goal in session_data["Saves"] %}
                    <td>{{ goal|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>Shots</td>
                {% for goal in session_data["Shots"] %}
                    <td>{{ goal|round(3) }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>MVPs</td>
                {% for goal in session_data["MVPs"] %}
                    <td>{{ goal|round(1) }}{% if goal is float %}%{% endif %}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>
<div>
    <div class="sub-headline">
        RANDOM FACTS
    </div>
    {% for fact in random_facts %}
        {{ fact[0] }}<br>
    {% endfor %}
</div>
<div>
    <table>
        <caption>"FUN" FACTS</caption>
        <tr>
            <th>Fact</th>
            <th>Occurence</th>
            <th>Winrate</th>
            <th>Change</th>
        </tr>
        <tr>
            <td>Faktastisch</td>
            <td>0%</td>
            <td>0%</td>
            <td>^</td>
        </tr>
    </table>
</div>
<div>
    <table>
        <caption>DAYS</caption>
        <tr>
            <th>Month</th>
            <th>Played</th>
            <th>Winrate</th>
            <th>W</th>
            <th>L</th>
        </tr>
        {% for days in days %}
            <tr>
                {% for item in days %}
                    {% if item is float %}
                        <td>{{ item|round(1) }}%</td>
                    {% else %}
                        <td>{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
<div>
    <table>
        <caption>MONTHS</caption>
        <tr>
            <th>Month</th>
            <th>Played</th>
            <th>Winrate</th>
            <th>W</th>
            <th>L</th>
        </tr>
        {% for month in months %}
            <tr>
                {% for item in month %}
                    {% if item is float %}
                        <td>{{ item|round(1) }}%</td>
                    {% else %}
                        <td>{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
<div>
    <table>
        <caption>YEARS</caption>
        <tr>
            <th>Month</th>
            <th>Played</th>
            <th>Winrate</th>
            <th>W</th>
            <th>L</th>
        </tr>
        {% for year in years %}
            <tr>
                {% for item in year %}
                    {% if item is float %}
                        <td>{{ item|round(1) }}%</td>
                    {% else %}
                        <td>{{ item }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
<div>
    <table>
        <caption>Records</caption>
        <tr>
            <th>Record</th>
            <th>Player</th>
            <th>Value</th>
            <th>Game ID</th>
            <th>Date</th>
        </tr>
        {% for record in record_games %}
            <tr>
                <td rowspan="4">
                    {{ record }}
                </td>
            </tr>
            {% for instances in record_games[record] %}
                <tr>
                    {% for stat in instances %}
                        <td>{{ stat }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

        {% endfor %}
    </table>
</div>
</body>
</html>