<!DOCTYPE html>
<html lang="en" style="display:  inline-block">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Clown Gameplay</title>
    <link rel="icon" href="https://jok.im/rl/img/logo_grey.png">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<header>
    <div class="header_container">
        <a href="/rl"><img src="https://jok.im/rl/img/logo_grey.png" alt="CG" width="50" height="50"></a>
        <a id="headline" href="/rl">CLOWN GAMEPLAY</a>
        <nav>
            <ul>
                <li><a href="/rl">Dashboard</a></li>
                <li><a href="/rl/records">Records</a></li>
                <li><a href="/rl/graphs">Graphs</a></li>
                <li><a href="#">Games</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="website-center-setup">
    <div class="records">
        <div class="records-part" style="padding-top: 15px">
            <table>
                <tr>
                    <th style="width:300px">Record</th>
                    <th>Player</th>
                    <th>Value</th>
                    <th>Game ID</th>
                    <th>Date</th>
                </tr>
                {% for record in record_games %}
                    <tr>
                        <td rowspan="4">
                            {{ record }}
                        </td>
                    </tr>
                    {% for instances in record_games[record] %}
                        <tr>
                            {% for stat in instances %}
                                <td>{{ stat }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                {% endfor %}
            </table>
        </div>
        <div class="records-part" style="padding-top: 15px">
            <table>
                <tr>
                    <th style="width:300px">Record</th>
                    <th>Player</th>
                    <th>Value</th>
                    <th>Game ID</th>
                    <th>Date</th>
                </tr>
                {% for record in record_games2 %}
                    <tr>
                        <td rowspan="4">
                            {{ record }}
                        </td>
                    </tr>
                    {% for instances in record_games2[record] %}
                        <tr>
                            {% for stat in instances %}
                                <td>{{ stat }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                {% endfor %}
            </table>
        </div>
    </div>
</div>
</body>
<style>
    h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure {
        margin-bottom: 15px;
    }

    body {
        margin: 0;
        font-size: 1em !important;
        color: #000000;
        background-color: #ffffff;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        line-height: 1.42em;
    }

    #headline {
        color: #cac8c8;
        font-size: 2em;
        display: inline;
        font-weight: bold;
        position: absolute;
        margin-top: 16px;
        margin-left: 10px;
        text-decoration: none;
    }

    header {
        background: #434343;
        position: sticky;
        top: 0
    }

    header::after {
        content: '';
        display: table;
        clear: both;
    }

    .header_container {
        width: 80%;
        margin: 0 auto
    }

    nav {
        float: right;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-left: 35px;
        padding-top: 25px;
        position: relative;
    }

    nav a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
    }

    nav a:hover {
        color: #000;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background-color: #444;

        position: absolute;
        top: 0;
        width: 0;

        transition: all ease-in-out 250ms;
    }

    nav a:hover::before {
        width: 100%;
    }

    .website-center-setup {
        width: 80%;
        margin: auto;
        background: #fafafa;
    }

    h1 {
        font-size: 3em;
        font-weight: 300;
        line-height: 1em;
        text-align: center;
        color: #599cbb;
    }

    h2 {
        text-align: left;
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
    }

    h3 {
        text-align: center;
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
    }

    h4 {
        text-align: center;
        font-size: 2em;
        font-weight: 600;
        margin-top: 0;
    }

    figure {
        display: flex;
        flex-flow: column-reverse;
        padding: 5px;
        max-width: 220px;
        margin: auto;
    }

    figcaption {
        font-weight: bolder;
        font-size: 22px;
        background-color: #dedede;
        text-align: center;
        vertical-align: top;
    }

    blockquote, pre, hr, dl, dd, ol, ul, figure {
        margin: 0;
        padding: 0;
    }

    table {
        border-collapse: collapse;
        font-style: normal;
        margin-right: auto;
        margin-left: auto;
    }

    caption {
        font-size: 2em;
        line-height: 1.8em;
    }

    th {
        color: #000000;
        font-weight: bold;
    }

    td, th {
        border: 1px solid #999;
        padding: 0.5rem;
        text-align: center;
    }

    .infobox td {
        font-size: smaller;
    }

    table tr:nth-child(even) {
        background-color: #f7f7f7;
    }

    table th {
        background-color: #434343;
        color: white;
        border: 1px solid #dedede;
        border-bottom-color: #c9c9c9;
    }

    table td {
        border: 1px solid #cccccc;
    }

    li {
        text-align: left;
        color: #353535;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }

    hr {
        border: 0;
        padding: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(40, 40, 40, 0.3), rgba(0, 0, 0, 0));
        margin-block-start: 20px;
        margin-block-end: 20px;
    }

    button {
        transition: background .25s, border-color .25s;
        background: rgba(40, 44, 52, .05);
        border: 1px solid transparent;
        border-radius: 6px;
        color: #000000;
        text-decoration: none !important;
        display: inline-block;
        font-size: .8rem;
        padding: 8px 16px;
        margin: 0 8px 8px 0;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .records {
        display: flex;
        justify-content: center;
        gap: 25px;
    }

    .table-general {
        background-color: #434343;
        color: white;
    }

    .knus {
        background-color: #54c46b;
    }

    .puad {
        background-color: #b84848;
    }

    .sticker {
        background-color: #546dc4;
    }
</style>
</html>