<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
</head>
<body>
<canvas id="performance"></canvas>
</body>

<script>
    const myChart = new Chart(document.getElementById('performance').getContext('2d'), {{ graph }});
</script>
</html>