<!DOCTYPE html>
<html lang="en" style="display:  inline-block">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>RL - Graphs</title>
    <link rel="icon" href="https://jok.im/static/icons/rl_cg_logo_grey.png">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <script src="https://cdn.jsdelivr.net/npm/chartkick@5.0.1/dist/chartkick.min.js"></script>
    <link rel="stylesheet" href="https://jok.im/static/standard.css">
</head>
<body>
<header>
    <div class="header_container">
        <a href="/rl"><img src="https://jok.im/static/icons/rl_cg_logo_grey.png" alt="CG" width="50" height="50"></a>
        <a id="headline" href="/rl">ROCKET LEAGUE</a>
        <nav>
            <ul>
                <li><a href="/rl">Dashboard</a></li>
                <li><a href="/rl/records">Records</a></li>
                <li><a class="here" href="/rl/graphs">Graphs</a></li>
                <li><a href="/rl/games">Games</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="website-center-setup">
    <div class="graphs" style="padding-top: 15px">
        <button type="button" onclick="adjustGraphs(100)">Last 10</button>
        <button type="button" onclick="adjustGraphs(100)">Last 20</button>
        <button type="button" onclick="adjustGraphs(100)">Last 100</button>
        <button type="button" onclick="adjustGraphs(100)">Last 500</button>
        <button type="button" onclick="adjustGraphs(100)">Session</button>
        <button type="button" onclick="adjustGraphs(100)">Season</button>
        <button type="button" onclick="adjustGraphs(100)">All</button>
        <div class="graph-shell-small">
            <canvas id="grief"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="wins_last_20"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="performance_score"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="performance_goals"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="performance_assists"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="performance_saves"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="performance_shots"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="performance_share_score"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="performance_share_goals"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="performance_share_assists"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="performance_share_saves"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="performance_share_shots"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="datesChart"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="monthChart"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="yearsChart"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="weekdChart"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="winrate"></canvas>
        </div>
        <div class="graph-shell-small">
            <canvas id="mvp_lvp_score"></canvas>
        </div>
    </div>
</div>
</body>
<script>
    let allCharts = ["datesChart", "monthChart", "yearsChart", "weekdChart", "grief", "wins_last_20", "winrate", "solo_goals",
        "performance_score", "performance_goals", "performance_assists", "performance_saves", "performance_shots", "performance_share_score", "performance_share_goals",
        "performance_share_assists", "performance_share_saves", "performance_share_shots", "mvp_lvp_score"];

    let charts = []

    for (let i = 0; i < allCharts.length; i++) {
        fetchData(allCharts[i]).then(data => generateConfig(data)).then(config => {
            let chart = new Chart(document.getElementById(allCharts[i]).getContext('2d'), config);
            charts.push(chart);
        });
    }

    function adjustGraphs(last) {
        /*
        for (let i = 0; i < charts.length; i++) {
            charts[i].scales.x.min = 2500 //does not work?!
            console.log(charts[i]);
            charts[i].update();
            console.log("set");
        }
         */
    }

    async function fetchData(graphName) {
        return await fetch('https://jok.im/rl/data/' + graphName).then(json => json.json());
    }

    function generateConfig(inputJson) {
        let datasets = [];
        for (let i = 0; i < inputJson.data.datasets.length; i++) {
            datasets.push({
                label: inputJson.data.datasets[i].label,
                data: inputJson.data.datasets[i].data,
                borderColor: inputJson.data.datasets[i].borderColor,
                borderWidth: 4,
                pointRadius: 0
            })
        }
        return {
            type: inputJson.type,
            data: {
                labels: inputJson.data.labels,
                datasets: datasets
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: inputJson.data.title
                    },
                    legend: {
                        display: inputJson.options.show_legend
                    }
                },
                scales: {
                    x: {
                        min: inputJson.options.x_min,
                        max: inputJson.options.x_max
                    },
                    y: {
                        min: inputJson.options.y_min,
                        max: inputJson.options.y_max
                    }
                }
            },
            plugins: {}
        }
    }

    /*
        function changeX() {
            p(myChart);
        }

        function p(chart) {
            //chart.options.plugins.title.text = 'new title';
            let xmin = chart.scales.x.min
            let xmax = chart.scales.x.max
            chart.options.scales.x.min = xmin + 100;
            chart.update();
        }
        */
</script>
<style>
    .graph-shell-small {
        height: 200px;
        background-color: #eeeeee;
    }
</style>
</html>