td,
th {
    text-align: center;
}

.mvp_highlighting_table_cell {
    border: 2px double darkgoldenrod !important;
}

td>img {
    width: 25px;
    height: 25px;
    vertical-align: top;
}

.here {
    color: #ffffff;
    font-weight: 700;
    font-size: larger;
}

a:active {
    color: white !important;
}