.here {
    color: #ffffff;
    font-weight: 700;
    font-size: larger;
}
ul > li > ul > li {
    font-size: .8rem;
    line-height: 140%;
}

h1,
h3 {
    scroll-margin-top: 4rem;
}

h3 {
    text-align: center;
}

a:active {
    color: white !important;
}

table {
    font-size: smaller;
    display: inline-block !important;
}

td,
th {
    text-align: center;
}

.scroll-margin {
    scroll-margin-top: 4rem
}