/* New and improved */
.icon {
    width: 22px;
    height: 22px;
    max-height: 22px;
    max-width: 22px;
}

.pbox {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

.mvp_highlighting_table_cell {
    border: 2px double darkgoldenrod !important;
}

.here {
    color: #ffffff;
    font-weight: 700;
    font-size: larger;
}

.knus {
    background-color: #263326;
}

.puad {
    background-color: #332626;
}

.sticker {
    background-color: #262633;
}