h1,
h3 {
    scroll-margin-top: 3.5rem;
}

h1 > img {
    width: 40px;
    height: 40px;
    vertical-align: top;
}

td > img {
    width: 25px;
    height: 25px;
    vertical-align: top;
}

a:active {
    color: white !important;
}

.win {
    background-color: rgba(30, 133, 30, 0.4);
}

.loss {
    background-color: rgba(133, 30, 30, 0.4)
}

.pbox {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

article>.pbox {
    margin-bottom: 0.5rem;
}

article>footer {
    text-align: center;
}

.mvp_highlighting_table_cell {
    border: 2px double darkgoldenrod !important;
}

.here {
    color: #ffffff;
    font-weight: 700;
    font-size: larger;
}

.knus {
    background-color: #263326;
}

.puad {
    background-color: #332626;
}

.sticker {
    background-color: #262633;
}

.cols>* {
    flex-basis: 100%;
}