h1,
h3 {
    scroll-margin-top: 3.5rem;
}

h3 {
    text-align: center;
}

.profile_rank_icon {
    width: 40px;
    height: 40px;
    vertical-align: top;
}

td>img {
    width: 25px;
    height: 25px;
    vertical-align: top;
}

.basicstats td,
.basicstats th {
    padding: 2px;
    font-size: 0.8rem;
    text-align: center;
}

.basicstats th {
    background-color: rgb(10, 10, 10);
    border-color: #21252bb3;
}

a:active,
a:hover {
    cursor: pointer;
    text-decoration: none !important;
    opacity: 50%;
}

.win {
    background-color: rgba(30, 133, 30, 0.4);
}

.loss {
    background-color: rgba(133, 30, 30, 0.4)
}

.pbox {
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

article>.pbox {
    margin-bottom: 0.5rem;
}

article>footer {
    text-align: center;
}

.mvp_highlighting_table_cell {
    /* border: 2px solid darkgoldenrod !important; */
    /* border-radius: 8px; */
    font-weight: bolder;
    color: rgb(212, 179, 94)
}

.here {
    color: #ffffff;
    font-weight: 700;
    font-size: larger;
}

.cols>* {
    flex-basis: 100%;
}

.no-decoration {
    text-decoration: none;
}

td,
th,
table {
    text-align: center;
    border: 2px solid var(--bg-default) !important;
    margin: 1px;
    border-radius: 8px;
}

td:hover {
    opacity: 80%;
}


#charts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}